<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloandroid" >

    <queries>
        <package android:name="com.android.chrome" />

        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloAndroid" >

        <!-- Receiver used for noticing about system changes and memorizing new config  -->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".OtherActivity"
            android:exported="true" />

        <!-- orientation|screenSize|screenLayout - for orientation changes    -->
        <!-- locale|layoutDirection - for locale changes                      -->
        <!-- keyboard|keyboardHidden - for possible hard keyboard on/off      -->
        <!-- configChanges used to restart the activity instead of recreation -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|locale|layoutDirection"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>